@font-face {
    font-family: norse-bold;
    src: url(/font/Norse-Bold.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --accented-color: #596D48;
    --accented-color2: #4f613f;
}

body {
    display: flex;

    font-family: sans-serif;

    height: 100vh;
}


.hero {
    /* background */
    background-image: url(/img/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    
    /* sizing */
    height: 100vh;
    min-width: 450px;
    flex-basis: 33.33%;

    /* font */
    color: #ffffff;

    /* content positioning */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 1rem 0;
}

main {
    display: flex;
    flex-direction: column;
    flex-basis: 66.66%;

    font-size: 24px;
}


.logo-container {
    /* background */
    background-color: rgba(0, 0 ,0, 0.5);

    /* font */
    font-family: norse-bold;
    font-size: 10rem;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    position: absolute;
    top: 20%;
    width: 100%;
}

.logo-container>p {
    padding-top: 2.5rem;
    margin-left: 1rem;
}

.logo-container>img {
    height: 12rem;
    width: auto;
}


.img-credit {
    font-weight: lighter;
    text-align: center;
}

.img-credit>a {
    color: #ffffff;
}

main section {
    background-color: rgb(249, 250, 251);

    width: 100%;
    min-width: 750px;
    
    padding: 2.2rem 5vw;
}

main a {
    text-decoration: none;
    color: var(--accented-color);
    font-weight: bold;
}

section>p {
    margin-bottom: 1rem;
    max-width: 691px;
}

main>section:first-of-type {
    padding-top: 25vh;
}

main>section:last-of-type {
    flex: 1 1 auto;
    font-size: 1.2rem;
}

form {
    box-shadow: 0 5px 5px 0 rgb(220, 220, 220);
    position: relative;

    padding: 2rem 5vw;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-row {
    max-width: 691px;
    display: flex;

    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: bold;
    color: rgb(50, 50, 50);
}

.form-row>ul {
    list-style: none;
    display: flex;

    gap: 4rem;
}

.form-row li {
    display: flex;
    flex-direction: column;
}

form input {
    margin-top: 2px;

    appearance: none;
    height: 2.5rem;
    width: 280px;
    border: 1px solid #e5e7eb;
    border-radius: 5px;

    padding: 0.5rem;
    font-size: 1rem;
}

form input:focus {
    box-shadow: 2px 5px 5px 0 rgb(220, 220, 220);
}

button {
    background-color: var(--accented-color);
    border: 1px solid var(--accented-color);
    border-radius: 10px;
    box-shadow: 0 5px 5px 3px rgb(220, 220, 220);
    padding: .8rem 3rem;
    color: #ffffff;
    font-size: 1rem;

    margin-bottom: 2rem;
}

button:active {
    border: 1px solid lightgrey;
}

button:hover {
    background-color: var(--accented-color2);   
}